
 #formulario{
    width: 50vw;
    height: 90vh
 }
 
#parte1{
    width: 100%;
    height: 84vh;
    display: block;
   
    position: relative;
    top: 0;

}
#parte2{
    width: 100%;
    height: 84vh;
    display: none;
   
}
#parte3{
    width: 100%;
    height: 84vh;
    display: none;
}
legend{
    font-size: 1rem ;
}
fieldset{
    height: 5rem;
} 
h1, h4{
    color: #28456f;
    
}
