
 #formulario{
    width: 50vw;
    height: 90vh
 }
 
#parte1{
    width: 100%;
    height: 84vh;
    display: block;
   
    position: relative;
    top: 0;

}
#parte2{
    width: 100%;
    height: 90vh;
    display: none;
    position: relative;
    top: -90vh;
   
  background-color: #28466f60;
}
#parte3{
    width: 100%;
    height: 90vh;
    display: none;
    background-color: #28456f;
}
legend{
    font-size: 1rem ;
   
}
fieldset{
    height: 5rem;
} 
h1, h2{
    color: #28456f;
    
}
